.customerService {
  font-size: 48px;
  text-align: center;
}

.row {
  margin-right: 0px;
  background-color: #f2f2f2;
  /* height: auto; */
}

.contact {
  padding-left: 20px;
}



* {
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
}

input[type=text], select, textarea {
  width: 98%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#fname {
  width: 100%;
  /* padding: 0 0 0 0; */
  /* margin: 0 0 0 0; */
}

#lname {
  width: 100%;
  /* padding: 0 0 0 0; */
  /* margin: 0 0 0 0; */
}

.contactInput {
  margin-top: 50px;
}

body {
  background-color: #f2f2f2;
}
