<h1 class="name">Patrick Luu Page</h1>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h3>{{this.city}} Weather</h3>
      <button (click)="clickDelete()">Delete</button>
      <div *ngFor="let weather of weatherArr; let i = index">

        <h4><input type="checkbox" (click)="handleCheckbox($event)" value={{i}}>
          {{i + 1}}: {{weather.dt_txt | date: 'short' }}</h4>
        <div><strong>Temp:</strong> {{weather.main.temp}} <strong>High/Low:</strong>
          {{weather.main.temp_max}}/{{weather.main.temp_min}}</div>
      </div>

    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>
