<form>
  <div>
    <label for="locationSearch">Location Search: </label><br>
    <input type="text" [(ngModel)]="locationSearch" name="locationSearch">
    <button (click)="getWeathers()" type="submit">Search</button>
  </div>

</form>

<h1>{{this.location}} 5 Days Weather</h1>
<p>Lon: {{this.long}} Lat: {{this.lat}} Population: {{this.population}}</p>
<div *ngFor="let weather of weathers; let i = index">
  <!-- <h1>Hello</h1> -->
  <h4>{{i + 1}}: {{weather.dt_txt | date: 'short' }}</h4>
  <p><strong>Temp: </strong> {{ (9/5 * (weather.main.temp -273) + 32).toFixed(0) }} ℉
    <strong>High/Low: </strong> {{ (9/5 * (weather.main.temp_max -273) + 32).toFixed(0) }}
    ℉ / {{ (9/5 * (weather.main.temp_min -273) + 32).toFixed(0) }} ℉
    <strong>Humidity: </strong> {{weather.main.humidity}}
  </p>
  <p>Main: {{weather.weather[0].main}} Description: {{weather.weather[0].description}}</p>
</div>


<h1>{{name}}</h1>
<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
  <li>{{address.street}} {{address.city}}, {{address.state}}</li>
  <li>Search: {{locationSearch}}</li>


<!-- <button (click)="onClick()">Click Me</button> -->
<button (click)="toggleEdit()">Edit user</button>

</ul>

<div *ngIf=isEdit>
  <h1>Edit User</h1>
  <form>
    <div>
      <label for="name">Name: </label><br>
      <input type="text" [(ngModel)]="name" name="name">
      <!-- <input type="text" [(ngModel)]="name"> -->
    </div>
    <div>
      <label for="age">Age: </label><br>
      <input type="number" [(ngModel)]="age" name="age">

    </div>
    <div>
      <label for="email">Email: </label><br>
      <input type="text" [(ngModel)]="email" name="email">
    </div>
    <div>
      <label for="street">Street: </label><br>
      <input type="text" [(ngModel)]="address.street" name="street">
    </div>
    <div>
      <label for="city">City: </label><br>
      <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <div>
      <label for="state">State: </label><br>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>

  </form>
</div>






<h1>Hobbies</h1>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type='text' #hobby>
  </div>
</form>


<ul>
  <li *ngFor="let hobby of hobbies; let i = index">
    {{i + 1}}: {{hobby}}
    <button (click)="deleteHobby(hobby)">X</button>
  </li>
</ul>




<h1>Posts</h1>
<div *ngFor="let arr of postArr; let i = index">
  <h4>{{i + 1}}: {{arr.title}}</h4>
  <p>{{arr.body}}</p>
</div>








































<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink='/'>User</a>
      <a class="nav-item nav-link active" routerLink='/about'>About</a>

    </div>


  </div>
    <form>
      <div>

        <input type="text" [(ngModel)]="locationSearch" name="locationSearch">
        <button (click)="getWeathers()" type="submit">Search</button>
      </div>
    </form>

</nav> -->






<!-- <app-about></app-about>
<app-bootstrap></app-bootstrap> -->





<!-- <li>Email: {{email}}</li>
<li>{{address.street}} {{address.city}}, {{address.state}}</li> -->
