<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>



<!-- <div style="text-align:center">
   <span appDirectiveTest>Welcome to Custom Directive.</span>
</div> -->













<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar-brand" routerLink='/'>rambutan</a>

    </div>


  </div>
  <a class="nav-item nav-link active" routerLink='/user'>User</a>
  <a class="nav-item nav-link active" routerLink='/about'>About</a>
  <a class="nav-item nav-link active" routerLink='/firebase'>Firebase</a>
  <button type="button" class="btn btn-primary login">Sign Up</button>
  <button type="button" class="btn btn-primary login">Login</button>

</nav> -->


<!-- <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul> -->

<!-- <ul>
  <li>
    <button type="button" routerLink='/' class="btn btn-primary">
      User
    </button>
  </li>
  <p></p>
  <li>
    <button type="button" routerLink='/about' class="btn btn-primary">
      About
    </button>
  </li>
</ul> -->
