<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<!-- <nav class="navbar navbar-dark bg-dark"> -->
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">rambutan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto navbar-nav">
          <li><a class="nav-item nav-link" routerLink='/'>Home</a></li>
          <li><a class="nav-item nav-link" routerLink='/portfolio'>Portfolio</a></li>
          <li><a class="nav-item nav-link" routerLink='/contact'>Contact</a></li>
          <li><a class="nav-item nav-link" routerLink='/user'>User</a></li>
          <li><a class="nav-item nav-link" routerLink='/about'>About</a></li>
          <li><a class="nav-item nav-link" routerLink='/bootstrap'>Bootstrap</a></li>
          <button type="button" routerLink='/login' class="btn btn-primary login">
            Login
          </button>
        </ul>
    </div>

</nav>











<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


    <ul class="menuLink">
      <li><a class="nav-item nav-link active" routerLink='/'>Home</a></li>
      <li><a class="nav-item nav-link active" routerLink='/portfolio'>Portfolio</a></li>
      <li><a class="nav-item nav-link active" routerLink='/contact'>Contact</a></li>
      <li><a class="nav-item nav-link active" routerLink='/user'>User</a></li>
      <li><a class="nav-item nav-link active" routerLink='/about'>About</a></li>

      <li><a class="nav-item nav-link active" routerLink='/bootstrap'>Bootstrap</a></li>
      <button type="button" routerLink='/login' class="btn btn-primary login">
        Login
      </button>

    </ul>



    <div class="navbar-nav">
      <a class="navbar-brand" routerLink='/'>rambutan</a>
    </div>





  </div>

</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">rambutan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li><a class="nav-item nav-link active" routerLink='/'>Home</a></li>
      <li><a class="nav-item nav-link active" routerLink='/portfolio'>Portfolio</a></li>
      <li><a class="nav-item nav-link active" routerLink='/contact'>Contact</a></li>
      <li><a class="nav-item nav-link active" routerLink='/user'>User</a></li>
      <li><a class="nav-item nav-link active" routerLink='/about'>About</a></li>

      <li><a class="nav-item nav-link active" routerLink='/bootstrap'>Bootstrap</a></li>
      <button type="button" routerLink='/login' class="btn btn-primary login">
        Login
      </button>
    </ul>
    </div>

</nav> -->
