.login {
  margin-right: 20px;
}


/* .menuLink {
  position: absolute;
  right: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
} */


.navMenu {
  float: right;
}

menuLink2:hover {
  background-color: blue;
}

nav .navbar-nav li a {
  color: white;
}

nav .navbar-nav li a:hover {
  color: #1887F7;
}
