<div class="masterLoginBox">
  <div class="loginBox">
    <!-- <h1 class="mainLogo">
      rambutan
    </h1> -->



    <div>
      <h1 class="logo">
        rambutan
      </h1>

      <button type="button" class="btn btn-link" (click)="loginLink()">
        Log In
      </button>

      <button type="button" class="btn btn-link" (click)="signUp()">
        Sign Up
      </button>


      <div>

      <span *ngIf="isSignUp; then signup else login"></span>
        <ng-template #signup>
            <h1>Sign up</h1>
            <label>
              Email:<br>
              <input [(ngModel)]="emailSignup" placeholder="email address"><br>
              Password:<br>
              <input [(ngModel)]="passwordSignup" placeholder="password" type="password">
              <br>
              <button (click)="register(emailSignup, passwordSignup)">Submit</button>
            </label>

            <!-- <p>
               Email entered is : {{emailSignup}}
            </p>

            <p>
               Password entered is : {{passwordSignup}}
            </p> -->
        </ng-template>
        <ng-template #login>
          <h1>Login</h1>
          <form #userForm="ngForm" (ngSubmit) = "onClickSubmit(userForm)" >
            <div class="form-group">
              <label>
                Email:
                 <input
                    type = "text"
                    name = "emailid"
                    [(ngModel)] = "emailid"
                    [ngClass]="{'is-invalid': emailId.errors && emailId.touched}"
                    placeholder = "email id"
                    FormControl = "emailid"
                    class="form-control"
                    #emailId="ngModel"
                    required
                    minlength="3"
                  >
                  <div [hidden]="!emailId.errors?.required" class="invalid-feedback">
                    Email required
                  </div>
                  <div [hidden]="!emailId.errors?.minlength" class="invalid-feedback">
                    must be at least 2 characters
                  </div>
              </label>

            </div>
            <label>
              Password:
              <div class="form-group">
                 <input
                    type = "password"
                    name = "passwd"
                    [(ngModel)] = "passwd"
                    class="form-control"
                    placeholder = "password"
                  >

              </div>


                  <input type = "submit"
                    [disabled] = "!userForm.form.valid"
                    class = "forsubmit"
                    value = "Log In"
                    (click)="clickLogin(emailid, passwd)"
                  >
              </label>
            </form>
        </ng-template>


      </div>




    </div>

  </div>

</div>











































<!-- <div class="masterLoginBox">
  <div class="loginBox">

    <div>
      <h1 class="logo">
        rambutan
      </h1>

      <button type="button" class="btn btn-link" (click)="loginLink()">
        Log In
      </button>

      <button type="button" class="btn btn-link" (click)="signUp()">
        Sign Up
      </button>

      <form #userForm="ngForm" (ngSubmit) = "onClickSubmit(userForm)" >
        <div class="form-group">
          <label>
            Email:
             <input
                type = "text"
                name = "emailid"
                [(ngModel)] = "emailid"
                [ngClass]="{'is-invalid': emailId.errors && emailId.touched}"
                placeholder = "email id"
                FormControl = "emailid"
                class="form-control"
                #emailId="ngModel"
                required
                minlength="3"
              >
              <div [hidden]="!emailId.errors?.required" class="invalid-feedback">
                Email required
              </div>
              <div [hidden]="!emailId.errors?.minlength" class="invalid-feedback">
                must be at least 2 characters
              </div>
          </label>

        </div>
        <label>
          Password:
          <div class="form-group">
             <input
                type = "password"
                name = "passwd"
                [(ngModel)] = "passwd"
                class="form-control"
                placeholder = "password"
              >

          </div>


              <input type = "submit"
                [disabled] = "!userForm.form.valid"
                class = "forsubmit"
                value = "Log In"
                (click)="clickLogin(emailid, passwd)"
              >
          </label>



          <div *ngIf="isSignUp">
            <h1>Sign up</h1>
            <input [(ngModel)]="emailSignup" placeholder="email address">
            <input [(ngModel)]="passwordSignup" placeholder="password" type="password">
            <button (click)="register(emailSignup, passwordSignup)">Submit</button>

            <p>
               Email entered is : {{emailSignup}}
            </p>

            <p>
               Password entered is : {{passwordSignup}}
            </p>
          </div>



      </form>



  </div>

</div>
 -->








<!-- <div>

<span *ngIf="isSignUp; then signup else login"></span>
  <ng-template #signup>
      <h1>Sign up</h1>
      <input [(ngModel)]="emailSignup" placeholder="email address"><br>
      <input [(ngModel)]="passwordSignup" placeholder="password" type="password">
      <br>
      <button (click)="register(emailSignup, passwordSignup)">Submit</button>

      <p>
         Email entered is : {{emailSignup}}
      </p>

      <p>
         Password entered is : {{passwordSignup}}
      </p>
  </ng-template>
  <ng-template #login>
    <h1>Login</h1>
    <form #userForm="ngForm" (ngSubmit) = "onClickSubmit(userForm)" >
      <div class="form-group">
        <label>
          Email:
           <input
              type = "text"
              name = "emailid"
              [(ngModel)] = "emailid"
              [ngClass]="{'is-invalid': emailId.errors && emailId.touched}"
              placeholder = "email id"
              FormControl = "emailid"
              class="form-control"
              #emailId="ngModel"
              required
              minlength="3"
            >
            <div [hidden]="!emailId.errors?.required" class="invalid-feedback">
              Email required
            </div>
            <div [hidden]="!emailId.errors?.minlength" class="invalid-feedback">
              must be at least 2 characters
            </div>
        </label>

      </div>
      <label>
        Password:
        <div class="form-group">
           <input
              type = "password"
              name = "passwd"
              [(ngModel)] = "passwd"
              class="form-control"
              placeholder = "password"
            >

        </div>


            <input type = "submit"
              [disabled] = "!userForm.form.valid"
              class = "forsubmit"
              value = "Log In"
              (click)="clickLogin(emailid, passwd)"
            >
        </label>
      </form>
  </ng-template>


</div> -->

















<!-- <div class="form-group">
   <input
      type = "password"
      class="form-control"
      name = "passwd"
      placeholder = "passwd"
      FormControl = "passwd"
      [(ngModel)] = "passwd"
      [ngClass]="{'is-invalid': passwd.errors && passwd.touched}"
      #password="ngModel"
      required
      minlength="3"
    >

    <div [hidden]="!password.errors?.required" class="invalid-feedback">
      Password required
    </div>
    <div [hidden]="!password.errors?.minlength" class="invalid-feedback">
      must be at least 3 characters
    </div>
</div> -->



  <!-- <br/> -->





<!-- <div>
   <span *ngIf = "isavailable;then condition1 else condition2">Condition is valid.</span>
   <ng-template #condition1>Login true, testing templating</ng-template>
   <ng-template #condition2>Login false, testing templating</ng-template>
</div> -->



<!-- <button (click)="clickLogin(emailid, passwd)">login</button> -->





<!-- <form (ngSubmit) = "onClickSubmit(formdata.value)" >
   <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid"
      FormControl = "emailid">
   <br/>
   <input type = "password" class = "fortextbox" name = "passwd"
      placeholder = "passwd" FormControl = "passwd">
   <br/>
   <input type = "submit" [disabled] = "!formdata.valid" class = "forsubmit"
      value = "Log In">
</form> -->






<!-- <div class="form-group">
   <input
      type = "text"
      name = "passwd"
      [(ngModel)] = "passwd"
      [ngClass]="{'is-invalid': passwd.errors && passwd.touched}"
      placeholder = "passwd"
      FormControl = "passwd"
      class="form-control"
      #password="ngModel"
      required
      minlength="3"
    >
    <div [hidden]="!password.errors?.required" class="invalid-feedback">
      Password required
    </div>
    <div [hidden]="!password.errors?.minlength" class="invalid-feedback">
      must be at least 2 characters
    </div>

</div> -->


  <!-- <div [hidden]="!emailid.errors?.minlength" class="invalid-feedback">
    Must be at least 2 characters
  </div> -->

  <!-- <div class="invalid-feedback">
    First name required
  </div> -->
